{
	"printWidth": 100,
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"trailingComma": "all",
	"importOrder": [
		"^react$",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^(supabase|services|hooks|utils|components|config|types)/(.*)$",
		"^(types|api)$",
		"",
		"^[./]"
	],
	"importOrderParserPlugins": [
		"typescript",
		"jsx",
		"['decorators', { 'decoratorsBeforeExport': true }]"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"importOrderMergeDuplicateImports": true
}
